*
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header
{
    width: 100vw;
    height: 12vh;background-color: cornflowerblue;
    opacity:0.5;
    

    
}

.header > img
{
    width: 8vw;
    left:50%;
    position: relative;

}

.header > h1
{
    position: absolute;
    top: -1vh;
    left: 40vw;
    font-size: 25px;
    color :black;
}

.header > button
{
    position: absolute;
    left: 90vw;
    top: 3vh;
    width:70px;
    height: 30px;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background: black ;
    color: white;
    box-shadow: 2px 2px 2px grey;
}
.header button:hover{
	background: white ;
	color :black;
	transition: 0.5s

}



.container 
{
    position: absolute;
    left: 15vw;
    
  background-image: url("images/kkk.svg");
  background-color: white;
    width: 20vw;
    height: 80vh;
    padding: 10px;
    z-index: 2;
    border: 1px inset skyblue;
    border-top-color: skyblue;
    border-left-color: skyblue;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;

    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    margin: 20px 0px 0px 0px;
    

}
/*Code changed here*/
.container h2{
    text-align:center;
    color: cornflowerblue;
    
}

.sidenav {
    height: 88vh;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 12vh;
    left: 0;
    opacity: 0.5;
    background-color:cornflowerblue;
    overflow-x: hidden;
    transition: 0.5s;
    z-index:4;
    padding-top: 60px;
    clip-path: polygon(0 0, 100% 0,50% 100% , 0 100%);
}

.sidenav a {
    padding: 8px 8px 8px 2px;
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-family: roboto;
    display: block;
    transition: 0.4s;
    o
}

.sidenav a:hover {
    color: #f1f1f1;
     font-size: 26px;
     text-underline-position: under;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 30px;
    margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#gender, .team , #others
{
    display: none;
}

label{
	color:cornflowerblue;
	text-transform: uppercase;
	padding-bottom: 1%;
}

@media only screen and (max-width: 1000px) {
    body {
       background-color: green;
       color:white;
    }
}
